<a href="https://colab.research.google.com/github/Taiba528/Datasciencecoursera/blob/master/Turbofan_failure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import neccesary libraries
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV,StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import RandomizedSearchCV

In [0]:
from random import randint, shuffle
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
from google.colab import files
uploaded=files.upload()

Saving train_data.csv to train_data (1).csv

In [0]:
df_train = pd.read_csv("train_data.csv")

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
#Explore Data
df_train.shape
df_train.head()
df_train.tail()

(107565, 33)

   engine_no  time_in_cycles  op_setting_1  ...  sensor_26  sensor_27    RUL
0          0               1       25.0074  ...        NaN        NaN  339.0
1          0               2       35.0072  ...        NaN        NaN  338.0
2          0               3       25.0053  ...        NaN        NaN  337.0
3          0               4       42.0045  ...        NaN        NaN  336.0
4          0               5       35.0046  ...        NaN        NaN  335.0

[5 rows x 33 columns]

        engine_no  time_in_cycles  op_setting_1  ...  sensor_26  sensor_27   RUL
107560        476             222        0.0026  ...        NaN        NaN  17.0
107561        476             223       19.9990  ...        NaN        NaN  16.0
107562        476             224       42.0071  ...        NaN        NaN  15.0
107563        476             225        9.9982  ...        NaN        NaN  14.0
107564        476             226       35.0061  ...        NaN        NaN   NaN

[5 rows x 33 columns]

In [12]:
print ('Overall data summary')
df_train.describe()
df_train.shape

Overall data summary

           engine_no  time_in_cycles  ...  sensor_27            RUL
count  107565.000000   107565.000000  ...        0.0  107564.000000
mean      236.184530      123.025194  ...        NaN     122.053522
std       138.684918       83.534341  ...        NaN      83.533074
min         0.000000        1.000000  ...        NaN       0.000000
25%       115.000000       57.000000  ...        NaN      56.000000
50%       235.000000      113.000000  ...        NaN     112.000000
75%       357.000000      173.000000  ...        NaN     172.000000
max       476.000000      543.000000  ...        NaN     542.000000

[8 rows x 33 columns]

(107565, 33)

In [13]:
from google.colab import files
uploaded=files.upload()

Saving test_data.csv to test_data.csv

In [14]:
df_test = pd.read_csv("test_data.csv")
df_test.head()

   engine_no  time_in_cycles  op_setting_1  ...  sensor_25  sensor_26  sensor_27
0          0               1       42.0034  ...        NaN        NaN        NaN
1          0               2       42.0017  ...        NaN        NaN        NaN
2          0               3        0.0028  ...        NaN        NaN        NaN
3          0               4       42.0047  ...        NaN        NaN        NaN
4          0               5       10.0058  ...        NaN        NaN        NaN

[5 rows x 32 columns]

# Split train - eval

In [16]:
list_engine_no = list(df_train['engine_no'].drop_duplicates())
len(list_engine_no)

477

In [17]:
ratio = .3
shuffle(list_engine_no)
engine_no_test = list_engine_no[:int(len(list_engine_no) * ratio)]
len(engine_no_test)

143

In [18]:
engine_no_train = [x for x in list_engine_no if x not in engine_no_test]
len(engine_no_train)

334

In [19]:
nan_column = df_train.columns[df_train.isna().any()].tolist()
const_columns = [c for c in df_train.columns if len(df_train[c].drop_duplicates()) <= 2]
print('Columns with all nan: \n' + str(nan_column) + '\n')
print('Columns with all const values: \n' + str(const_columns) + '\n')

Columns with all nan:
['sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19', 'sensor_20', 'sensor_21', 'sensor_22', 'sensor_23', 'sensor_24', 'sensor_25', 'sensor_26', 'sensor_27', 'RUL']

Columns with all const values:
['op_setting_3', 'sensor_22', 'sensor_23', 'sensor_24', 'sensor_25', 'sensor_26', 'sensor_27']

In [20]:
metadata_columns = ['engine_no', 'time_in_cycles']
selected_features = [x for x in df_test.columns if x not in metadata_columns + nan_column + const_columns]
selected_features

['op_setting_1',
 'op_setting_2',
 'sensor_1',
 'sensor_2',
 'sensor_3',
 'sensor_4',
 'sensor_5',
 'sensor_6',
 'sensor_7',
 'sensor_8',
 'sensor_9',
 'sensor_10',
 'sensor_11',
 'sensor_12',
 'sensor_13',
 'sensor_14']

In [26]:
#check for missing values
pd.isnull(df_train_train).any()
pd.isnull(df_train_train).sum()

engine_no         False
time_in_cycles    False
op_setting_1      False
op_setting_2      False
op_setting_3      False
sensor_1          False
sensor_2          False
sensor_3          False
sensor_4          False
sensor_5          False
sensor_6          False
sensor_7          False
sensor_8          False
sensor_9          False
sensor_10         False
sensor_11         False
sensor_12         False
sensor_13         False
sensor_14         False
sensor_15          True
sensor_16          True
sensor_17          True
sensor_18          True
sensor_19          True
sensor_20          True
sensor_21          True
sensor_22          True
sensor_23          True
sensor_24          True
sensor_25          True
sensor_26          True
sensor_27          True
RUL                True
dtype: bool

engine_no             0
time_in_cycles        0
op_setting_1          0
op_setting_2          0
op_setting_3          0
sensor_1              0
sensor_2              0
sensor_3              0
sensor_4              0
sensor_5              0
sensor_6              0
sensor_7              0
sensor_8              0
sensor_9              0
sensor_10             0
sensor_11             0
sensor_12             0
sensor_13             0
sensor_14             0
sensor_15             1
sensor_16             1
sensor_17             1
sensor_18             1
sensor_19             1
sensor_20             1
sensor_21             1
sensor_22         75338
sensor_23         75338
sensor_24         75338
sensor_25         75338
sensor_26         75338
sensor_27         75338
RUL                   1
dtype: int64

In [30]:
df_train_train = df_train[df_train['engine_no'].isin(engine_no_train)]
data_eval = df_train[df_train['engine_no'].isin(engine_no_test)]

X_train_train, y_train_train = df_train_train[selected_features], df_train_train['RUL'] 

X_eval, y_eval = data_eval[selected_features], data_eval['RUL']

X_train_all, y_train_all = df_train[selected_features], df_train['RUL']

X_test = df_test[selected_features]

(        op_setting_1  op_setting_2  sensor_1  ...  sensor_12  sensor_13  sensor_14
 0            25.0074        0.6200    462.54  ...     164.75    2028.38    7875.47
 1            35.0072        0.8413    449.44  ...     183.67    2388.20    8073.12
 2            25.0053        0.6215    462.54  ...     164.49    2028.40    7884.88
 3            42.0045        0.8407    445.00  ...     130.67    2388.13    8093.08
 4            35.0046        0.8400    449.44  ...     183.02    2388.19    8078.18
 ...              ...           ...       ...  ...        ...        ...        ...
 107560        0.0026        0.0012    518.67  ...     520.61    2388.05    8206.17
 107561       19.9990        0.7000    491.19  ...     314.75    2388.68    8127.48
 107562       42.0071        0.8405    445.00  ...     130.82    2389.31    8156.34
 107563        9.9982        0.2500    489.05  ...     370.48    2388.30    8209.08
 107564       35.0061        0.8400    449.44  ...     183.29    2389.46    8140.65

 [75338 rows x 16 columns], 0         339.0
 1         338.0
 2         337.0
 3         336.0
 4         335.0
           ...
 107560     17.0
 107561     16.0
 107562     15.0
 107563     14.0
 107564      NaN
 Name: RUL, Length: 75338, dtype: float64)

In [0]:
# Build Deep Learning Model
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, advanced_activations
from keras.callbacks import ModelCheckpoint, TensorBoard

model = Sequential()
model.add(Dense(512, input_dim =16))
model.add(Activation('relu'))

model.add(Dense(256))
model.add(Activation('relu'))


model.add(Dense(128))
model.add(Activation('tanh'))
model.add(Dropout(0.2))

model.add(Dense(100))
model.add(Activation('tanh'))

model.add(Dense(10))
model.add(Activation('softmax'))
model.compile(optimizer='Adagrad', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [40]:
# Fit the model
model.fit(X_train_train,y_train_train, epochs=10, batch_size=32)

Epoch 1/10

InvalidArgumentError: ignored

# Train the classifier

In [0]:
#Building a Logistic Regression model
from sklearn.linear_model import LogisticRegression
log= LogisticRegression()

In [25]:
#Fit the model instant on the training data using
log.fit(X_train_train,y_train_train)

ValueError: ignored

In [32]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=4)
tree.fit(X_train_train, y_train_train)

ValueError: ignored

# Check overfitting/underfitting

In [23]:
from sklearn.metrics import roc_curve,auc,recall_score,precision_score,accuracy_score,f1_score
from sklearn.metrics import confusion_matrix,average_precision_score,recall_score,classification_report
metrics = accuracy_score(predict_tree, test_y)
metrics

NameError: ignored

In [33]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=20)
tree.fit(X_train_train, y_train_train)

ValueError: ignored

In [31]:
print("Score on train data : " + str(tree.score(X_train_train, y_train_train)))
print("Score on eval data : " + str(tree.score(X_eval, y_eval)))

NotFittedError: ignored

# Train on all the dataset

In [0]:
tree.fit(X_train_all, y_train_all)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

# Make prediction

In [0]:
df_train['pred_tree'] = tree.predict(X_train_all)
df_test['pred_tree'] = tree.predict(X_test)

# Make Decision

In [0]:
df_train = df_train.sort_values(['engine_no', 'time_in_cycles'])
df_test = df_test.sort_values(['engine_no', 'time_in_cycles'])

In [0]:
df_result = df_test.groupby('engine_no').last().reset_index()[['engine_no', 'pred_tree']]
df_result

     engine_no  pred_tree
0            0         16
1            1          0
2            2        130
3            3        130
4            4        130
..         ...        ...
702        702        130
703        703        130
704        704         75
705        705        130
706        706        130

[707 rows x 2 columns]

In [0]:
df_result['result'] = df_result['pred_tree'].map(lambda x: 0 if x > 100 else 1)
df_result['result']

0      1
1      1
2      0
3      0
4      0
      ..
702    0
703    0
704    1
705    0
706    0
Name: result, Length: 707, dtype: int64

# Plotting the result

In [0]:
df_plot = df_train.copy()
df_plot = df_plot.sort_values(['engine_no', 'time_in_cycles'])
g = sns.PairGrid(data=df_plot, x_vars="RUL", y_vars=['RUL', 'pred_tree'], hue="engine_no", height=6, aspect=6,)
g = g.map(plt.plot, alpha=0.5)
g = g.set(xlim=(df_plot['RUL'].max(),df_plot['RUL'].min()))

In [0]:
df_train.columns

In [0]:
import pandas_profiling
eda_report = pandas_profiling.ProfileReport(df_train)
eda_report

In [0]:
df_train.drop(['sensor_22', 'sensor_23', 'sensor_24', 'sensor_25',
       'sensor_26', 'sensor_27'],axis=1)

In [0]:
df_train.isna().sum

In [0]:
from sklearn import tree
my_tree_one = tree.DecisionTreeClassifier(max_depth=4)
my_tree_one
from sklearn.metrics import roc_curve,auc,recall_score,precision_score,accuracy_score,f1_score
from sklearn.metrics import confusion_matrix,average_precision_score,recall_score,classification_report
#Fit the model instant on the training data using
my_tree_one = my_tree_one.fit(train_x,train_y)
#Predict using the model instant and training done on the training data using ‘ .predict() ‘ method 
predict_test = my_tree_one.predict(test_x)
metrics = accuracy_score(predict_test, test_y)
metrics

In [0]:
# Build Deep Learning Model
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, advanced_activations
from keras.callbacks import ModelCheckpoint, TensorBoard
model = Sequential()
model.add(Dense(512, input_dim =34))
model.add(Activation('relu'))

model.add(Dense(256))
model.add(Activation('relu'))


model.add(Dense(128))
model.add(Activation('tanh'))
model.add(Dropout(0.2))

model.add(Dense(100))
model.add(Activation('tanh'))

model.add(Dense(10))
model.add(Activation('softmax'))
model.compile(optimizer='Adagrad', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [0]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, average_precision_score, recall_score
import seaborn as sns

In [0]:
df_train.shape

In [0]:
# Create Features and Labels 
Y = df_train.iloc[:,32]
X= df_train.iloc[:,0:32]
Y.head()
X.head()

In [0]:
# Create train and test data 85% and 15% split
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.15, random_state=1)
train_x.shape
test_x.shape
train_y.shape
test_y.shape

In [0]:
# Fit the model
model.fit(train_x,train_y, epochs=10, batch_size=16)